<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Sessions

    <a data-toggle="collapse" href="#user_sessions_new_form">
      Add session
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.sessions.each do |session| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/sessions/<%= session.id %>">
          <%= session.user_id %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
